# Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load_data

In [2]:
data = pd.read_csv("train.csv")

In [3]:
data.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Batch Enrolled,Interest Rate,Grade,Sub Grade,Employment Duration,...,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Application Type,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,BAT2522922,11.135007,B,C4,MORTGAGE,...,2.498291,0.793724,0,INDIVIDUAL,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,BAT1586599,12.237563,C,D3,RENT,...,2.377215,0.974821,0,INDIVIDUAL,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,BAT2136391,12.545884,F,D4,MORTGAGE,...,4.316277,1.020075,0,INDIVIDUAL,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,BAT2428731,16.731201,C,C3,MORTGAGE,...,0.107020,0.749971,0,INDIVIDUAL,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,BAT5341619,15.008300,C,D4,MORTGAGE,...,1294.818751,0.368953,0,INDIVIDUAL,18,0,430,126029,22579,0

In [4]:
data.columns

Index(['ID', 'Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term',
       'Batch Enrolled', 'Interest Rate', 'Grade', 'Sub Grade',
       'Employment Duration', 'Home Ownership', 'Verification Status',
       'Payment Plan', 'Loan Title', 'Debit to Income',
       'Delinquency - two years', 'Inquires - six months', 'Open Account',
       'Public Record', 'Revolving Balance', 'Revolving Utilities',
       'Total Accounts', 'Initial List Status', 'Total Received Interest',
       'Total Received Late Fee', 'Recoveries', 'Collection Recovery Fee',
       'Collection 12 months Medical', 'Application Type', 'Last week Pay',
       'Accounts Delinquent', 'Total Collection Amount',
       'Total Current Balance', 'Total Revolving Credit Limit', 'Loan Status'],
      dtype='object')

## Split data into numerical and categorical

In [5]:
# select numerical data
numerical_df = data.select_dtypes(exclude = "object")

In [6]:
# display numerical columns
numerical_df.columns

Index(['ID', 'Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term',
       'Interest Rate', 'Home Ownership', 'Debit to Income',
       'Delinquency - two years', 'Inquires - six months', 'Open Account',
       'Public Record', 'Revolving Balance', 'Revolving Utilities',
       'Total Accounts', 'Total Received Interest', 'Total Received Late Fee',
       'Recoveries', 'Collection Recovery Fee', 'Collection 12 months Medical',
       'Last week Pay', 'Accounts Delinquent', 'Total Collection Amount',
       'Total Current Balance', 'Total Revolving Credit Limit', 'Loan Status'],
      dtype='object')

In [7]:
# select categorical data
categorical_df = data.select_dtypes(include = "object")

In [8]:
# display categorical columns
categorical_df.columns

Index(['Batch Enrolled', 'Grade', 'Sub Grade', 'Employment Duration',
       'Verification Status', 'Payment Plan', 'Loan Title',
       'Initial List Status', 'Application Type'],
      dtype='object')

# clean numerical data

In [9]:
numerical_df.head()

,ID,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,...,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Accounts Delinquent,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,65087372,10000,32236,12329.36286,59,11.135007,176346.62670,16.284758,1,0,...,0.102055,2.498291,0.793724,0,49,0,31,311301,6619,0
1,1450153,3609,11940,12191.99692,59,12.237563,39833.92100,15.412409,0,0,...,0.036181,2.377215,0.974821,0,109,0,53,182610,20885,0
2,1969101,28276,9311,21603.22455,59,12.545884,91506.69105,28.137619,0,0,...,18.778660,4.316277,1.020075,0,66,0,34,89801,26155,0
3,6651430,11170,6954,17877.15585,59,16.731201,108286.57590,18.043730,1,0,...,0.044131,0.107020,0.749971,0,39,0,40,9189,60214,0
4,14354669,16890,13226,13539.92667,59,15.008300,44234.82545,17.209886,1,3,...,19.306646,1294.818751,0.368953,0,18,0,430,126029,22579,0

In [10]:
# Set the display format for floating-point numbers
pd.set_option('display.float_format', lambda x: '%.2f' % x)

numerical_df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,67463.00,25627607.75,21091554.02,1297933.00,6570288.00,17915646.00,42715208.50,72245779.00
Loan Amount,67463.00,16848.90,8367.87,1014.00,10012.00,16073.00,22106.00,35000.00
Funded Amount,67463.00,15770.60,8150.99,1014.00,9266.50,13042.00,21793.00,34999.00
Funded Amount Investor,67463.00,14621.80,6785.35,1114.59,9831.68,12793.68,17807.59,34999.75
Term,67463.00,58.17,3.33,36.00,58.00,59.00,59.00,59.00
Interest Rate,67463.00,11.85,3.72,5.32,9.30,11.38,14.19,27.18
Home Ownership,67463.00,80541.50,45029.12,14573.54,51689.84,69335.83,94623.32,406561.54
Debit to Income,67463.00,23.30,8.45,0.68,16.76,22.66,30.05,39.63
Delinquency - two years,67463.00,0.33,0.80,0.00,0.00,0.00,0.00,8.00
Inquires - six months,67463.00,0.15,0.47,0.00,0.00,0.00,0.00,5.00
Open Account,67463.00,14.27,6.23,2.00,10.00,13.00,16.00,37.00
Public Record,67463.00,0.08,0.35,0.00,0.00,0.00,0.00,4.00
Revolving Balance,67463.00,7699.34,7836.15,0.00,2557.00,5516.00,10184.50,116933.00
Revolving Utilities,67463.00,52.89,22.54,0.01,38.66,54.08,69.18,100.88
Total Accounts,67463.00,18.63,8.32,4.00,13.00,18.00,23.00,72.00
Total Received Interest,67463.00,2068.99,2221.92,4.74,570.90,1330.84,2656.96,14301.37
Total Received Late Fee,67463.00,1.14,5.24,0.00,0.02,0.04,0.07,42.62
Recoveries,67463.00,59.69,357.03,0.00,1.63,3.34,5.45,4354.47
Collection Recovery Fee,67463.00,1.13,3.49,0.00,0.48,0.78,1.07,166.83
Collection 12 months Medical,67463.00,0.02,0.14,0.00,0.00,0.00,0.00,1.00
Last week Pay,67463.00,71.16,43.32,0.00,35.00,68.00,105.00,161.00
Accounts Delinquent,67463.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Total Collection Amount,67463.00,146.47,744.38,1.00,24.00,36.00,46.00,16421.00
Total Current Balance,67463.00,159573.93,139033.25,617.00,50379.00,118369.00,228375.00,1177412.00
Total Revolving Credit Limit,67463.00,23123.01,20916.70,1000.00,8155.50,16733.00,32146.50,201169.00
Loan Status,67463.00,0.09,0.29,0.00,0.00,0.00,0.00,1.00

**Features to Drop**
- ID
- Accounts Delinquent

In [11]:
numerical_df = numerical_df.drop(["ID", "Accounts Delinquent"], axis =1)
numerical_df.head(2)

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,...,Total Received Interest,Total Received Late Fee,Recoveries,Collection Recovery Fee,Collection 12 months Medical,Last week Pay,Total Collection Amount,Total Current Balance,Total Revolving Credit Limit,Loan Status
0,10000,32236,12329.36,59,11.14,176346.63,16.28,1,0,13,...,2929.65,0.10,2.50,0.79,0,49,31,311301,6619,0
1,3609,11940,12192.00,59,12.24,39833.92,15.41,0,0,12,...,772.77,0.04,2.38,0.97,0,109,53,182610,20885,0

# categorical data

In [12]:
categorical_df.head()

,Batch Enrolled,Grade,Sub Grade,Employment Duration,Verification Status,Payment Plan,Loan Title,Initial List Status,Application Type
0,BAT2522922,B,C4,MORTGAGE,Not Verified,n,Debt Consolidation,w,INDIVIDUAL
1,BAT1586599,C,D3,RENT,Source Verified,n,Debt consolidation,f,INDIVIDUAL
2,BAT2136391,F,D4,MORTGAGE,Source Verified,n,Debt Consolidation,w,INDIVIDUAL
3,BAT2428731,C,C3,MORTGAGE,Source Verified,n,Debt consolidation,w,INDIVIDUAL
4,BAT5341619,C,D4,MORTGAGE,Source Verified,n,Credit card refinancing,w,INDIVIDUAL

In [13]:
cat_list = categorical_df.columns.to_list()

In [14]:
for col in cat_list:
    print(col)
    print("number of unique values:", categorical_df[col].nunique())
    print("---------------------------------------------------")

Batch Enrolled
number of unique values: 41
---------------------------------------------------
Grade
number of unique values: 7
---------------------------------------------------
Sub Grade
number of unique values: 35
---------------------------------------------------
Employment Duration
number of unique values: 3
---------------------------------------------------
Verification Status
number of unique values: 3
---------------------------------------------------
Payment Plan
number of unique values: 1
---------------------------------------------------
Loan Title
number of unique values: 109
---------------------------------------------------
Initial List Status
number of unique values: 2
---------------------------------------------------
Application Type
number of unique values: 2
---------------------------------------------------

**Grade**

- A Grade: Low risk, excellent credit.
- B Grade: Slightly higher risk, good credit with minor issues.
- C Grade: Moderate risk, fair to good credit with some issues.
- D Grade: Higher risk, below-average credit with significant issues.
- E Grade: Substantial risk, poor credit with major issues.
- F Grade: Very high risk, extremely poor credit with defaults.
- G Grade: Highest risk, worst credit with bankruptcies.

**Initial list status**
- w: Indicates that the loan was initially listed as whole.
- f: Indicates that the loan was initially listed as fractional.

**Appilication Type**
- INDIVIDUAL: Indicates that the loan application was submitted by a single individual.
- JOINT: Indicates that the loan application was submitted jointly by multiple individuals.

In [15]:
categorical_df["Grade"].unique()

array(['B', 'C', 'F', 'A', 'G', 'E', 'D'], dtype=object)

In [16]:
categorical_df["Sub Grade"].unique()

array(['C4', 'D3', 'D4', 'C3', 'G5', 'C5', 'A5', 'C2', 'B5', 'B1', 'B4',
       'A4', 'B2', 'D2', 'C1', 'F3', 'D1', 'F2', 'A2', 'A3', 'F1', 'E5',
       'B3', 'F4', 'G1', 'F5', 'E1', 'E2', 'D5', 'G2', 'E4', 'A1', 'G3',
       'E3', 'G4'], dtype=object)

In [17]:
categorical_df["Employment Duration"].unique()

array(['MORTGAGE', 'RENT', 'OWN'], dtype=object)

In [18]:
categorical_df["Verification Status"].unique()

array(['Not Verified', 'Source Verified', 'Verified'], dtype=object)

In [19]:
categorical_df["Payment Plan"].unique()

array(['n'], dtype=object)

In [20]:
categorical_df["Loan Title"].value_counts()

Loan Title
Credit card refinancing    30728
Debt consolidation         24841
Debt Consolidation          3544
Other                       2455
Home improvement            2211
                           ...
Home loan                      6
Personal loan                  5
Getting Ahead                  5
Credit                         4
bills                          4
Name: count, Length: 109, dtype: int64

In [21]:
categorical_df["Initial List Status"].unique()

array(['w', 'f'], dtype=object)

In [22]:
categorical_df["Application Type"].unique()

array(['INDIVIDUAL', 'JOINT'], dtype=object)

**Ordinal categorical features are**:
- Grade
- Sub grade
- verification status

**Features to drop**
- payment plan
- Batch entrolled

**Feature to engineer**
- Loan title

**Mismatch between Employment duration and home ownership**

**Drop redundant categorical features**

In [23]:
categorical_df.head(2)

,Batch Enrolled,Grade,Sub Grade,Employment Duration,Verification Status,Payment Plan,Loan Title,Initial List Status,Application Type
0,BAT2522922,B,C4,MORTGAGE,Not Verified,n,Debt Consolidation,w,INDIVIDUAL
1,BAT1586599,C,D3,RENT,Source Verified,n,Debt consolidation,f,INDIVIDUAL

In [24]:
categorical_df = categorical_df.drop(["Batch Enrolled", "Payment Plan"], axis =1)

In [25]:
categorical_df.head(2)

,Grade,Sub Grade,Employment Duration,Verification Status,Loan Title,Initial List Status,Application Type
0,B,C4,MORTGAGE,Not Verified,Debt Consolidation,w,INDIVIDUAL
1,C,D3,RENT,Source Verified,Debt consolidation,f,INDIVIDUAL

**Engineer Loan Title**

In [26]:
# convert it to all lower case

categorical_df["Loan Title"] = categorical_df["Loan Title"].str.lower()

In [27]:
categorical_df["Loan Title"].nunique()

83

In [28]:
mapping = {
    'debt consolidation': 'debt consolidation', 'consolidate': 'debt consolidation','consolidation loan': 'debt consolidation','dept consolidation': 'debt consolidation',
    'conso': 'debt consolidation','debt consolidation 2013': 'debt consolidation','debt loan': 'debt consolidation','dept consolidation': 'debt consolidation',
    'consolidated': 'debt consolidation','get out of debt': 'debt consolidation','debt reduction': 'debt consolidation','debt payoff': 'debt consolidation',
    'debt free': 'debt consolidation',

    'credit card refinancing': 'credit card refinance','cc refi': 'credit card refinance','cc refinance': 'credit card refinance','cc-refinance': 'credit card refinance',
    'credit card consolidation': 'credit card refinance','cc consolidation': 'credit card refinance','credit card refi': 'credit card refinance',
    'credit card refinance': 'credit card refinance','credit card refinance loan': 'credit card refinance','cc loan': 'credit card refinance',
    'credit card payoff': 'credit card','credit cards': 'credit card','cards': 'credit card','cc': 'credit card','credit card paydown': 'credit card',
    'credit card pay off': 'credit card','credit card debt': 'credit card','credit card loan': 'credit card','credit card pay off': 'credit card',

    'home improvement': 'home improvement','bathroom': 'home improvement','home improvement loan': 'home improvement',
    'green loan': 'green loan','other': 'other', 'moving and relocation': 'moving and relocation','medical expenses': 'medical','medical loan': 'medical',
    'refinance': 'refinance','refi': 'refinance','refinance loan': 'refinance','personal loan': 'personal','personal': 'personal','myloan': 'personal','my loan': 'personal',
    'major purchase': 'major purchase','vacation': 'vacation','business': 'business','loan 1': 'loan','loan': 'loan','loan1': 'loan','loan consolidation': 'loan',
    'car financing': 'car financing','car loan': 'car financing',

    'home buying': 'home buying','home': 'home buying','home loan': 'home buying','freedom': 'freedom','get debt free': 'freedom',
    'payoff': 'payoff','pay off': 'payoff','pay off bills': 'payoff','bill consolidation': 'payoff','bill payoff': 'payoff','credit payoff': 'payoff','pool': 'pool',
    'wedding loan': 'wedding loan','relief': 'relief','getting ahead': 'relief','cc': 'credit card',

    'consolidation': 'consolidation','card consolidation': 'consolidation','consolidation loan': 'consolidation','consolidated': 'consolidation','bills': 'bills','conso': 'conso'
}

In [29]:
categorical_df["Loan Title"] = categorical_df["Loan Title"].map(lambda x: mapping.get(x, x))

In [30]:
categorical_df["Loan Title"].nunique()

33

In [31]:
categorical_df.head()

,Grade,Sub Grade,Employment Duration,Verification Status,Loan Title,Initial List Status,Application Type
0,B,C4,MORTGAGE,Not Verified,debt consolidation,w,INDIVIDUAL
1,C,D3,RENT,Source Verified,debt consolidation,f,INDIVIDUAL
2,F,D4,MORTGAGE,Source Verified,debt consolidation,w,INDIVIDUAL
3,C,C3,MORTGAGE,Source Verified,debt consolidation,w,INDIVIDUAL
4,C,D4,MORTGAGE,Source Verified,credit card refinance,w,INDIVIDUAL

# Concat numerical and categorical dataframe

In [32]:
combinded_df = pd.concat([numerical_df, categorical_df], axis =1)

In [33]:
combinded_df.head()

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Home Ownership,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,...,Total Current Balance,Total Revolving Credit Limit,Loan Status,Grade,Sub Grade,Employment Duration,Verification Status,Loan Title,Initial List Status,Application Type
0,10000,32236,12329.36,59,11.14,176346.63,16.28,1,0,13,...,311301,6619,0,B,C4,MORTGAGE,Not Verified,debt consolidation,w,INDIVIDUAL
1,3609,11940,12192.00,59,12.24,39833.92,15.41,0,0,12,...,182610,20885,0,C,D3,RENT,Source Verified,debt consolidation,f,INDIVIDUAL
2,28276,9311,21603.22,59,12.55,91506.69,28.14,0,0,14,...,89801,26155,0,F,D4,MORTGAGE,Source Verified,debt consolidation,w,INDIVIDUAL
3,11170,6954,17877.16,59,16.73,108286.58,18.04,1,0,7,...,9189,60214,0,C,C3,MORTGAGE,Source Verified,debt consolidation,w,INDIVIDUAL
4,16890,13226,13539.93,59,15.01,44234.83,17.21,1,3,13,...,126029,22579,0,C,D4,MORTGAGE,Source Verified,credit card refinance,w,INDIVIDUAL

**Rename Employment Duration and home ownership**

In [34]:
combinded_df.rename(columns={"Home Ownership": "Employment_Duration"}, inplace= True)
combinded_df.rename(columns={"Employment Duration": "Home_Ownership"}, inplace= True)

In [37]:
combinded_df.columns

Index(['Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term',
       'Interest Rate', 'Employment_Duration', 'Debit to Income',
       'Delinquency - two years', 'Inquires - six months', 'Open Account',
       'Public Record', 'Revolving Balance', 'Revolving Utilities',
       'Total Accounts', 'Total Received Interest', 'Total Received Late Fee',
       'Recoveries', 'Collection Recovery Fee', 'Collection 12 months Medical',
       'Last week Pay', 'Total Collection Amount', 'Total Current Balance',
       'Total Revolving Credit Limit', 'Loan Status', 'Grade', 'Sub Grade',
       'Home_Ownership', 'Verification Status', 'Loan Title',
       'Initial List Status', 'Application Type'],
      dtype='object')

# Save clean data

In [36]:
combinded_df.to_csv("Clean_data.csv", index = False)