In [1]:
import pandas as pd

In [2]:
import gdown

In [3]:
url = "https://drive.google.com/file/d/1N-X8aij_9FtAtrDBfRHQKGE0vtIUC67i/view?usp=sharing"

In [4]:
file_id = url.split("/")[-2]

In [5]:
prefix = "https://drive.google.com/uc?/export=download&id="

In [6]:
data_name = "Clean_data.csv"

In [7]:
data_ = gdown.download(prefix + file_id,"data.csv")

Downloading...
From: https://drive.google.com/uc?/export=download&id=1N-X8aij_9FtAtrDBfRHQKGE0vtIUC67i
To: c:\Users\pc\Desktop\Dummy_projects\MLflow Loan default\Notebook\data.csv
100%|██████████| 15.2M/15.2M [00:08<00:00, 1.70MB/s]

In [8]:
df = pd.read_csv(data_)

In [9]:
df.head(2)

,Loan Amount,Funded Amount,Funded Amount Investor,Term,Interest Rate,Employment_Duration,Debit to Income,Delinquency - two years,Inquires - six months,Open Account,...,Total Current Balance,Total Revolving Credit Limit,Loan Status,Grade,Sub Grade,Home_Ownership,Verification Status,Loan Title,Initial List Status,Application Type
0,10000,32236,12329.36286,59,11.135007,176346.6267,16.284758,1,0,13,...,311301,6619,0,B,C4,MORTGAGE,Not Verified,debt consolidation,w,INDIVIDUAL
1,3609,11940,12191.99692,59,12.237563,39833.9210,15.412409,0,0,12,...,182610,20885,0,C,D3,RENT,Source Verified,debt consolidation,f,INDIVIDUAL

In [10]:
df.columns

Index(['Loan Amount', 'Funded Amount', 'Funded Amount Investor', 'Term',
       'Interest Rate', 'Employment_Duration', 'Debit to Income',
       'Delinquency - two years', 'Inquires - six months', 'Open Account',
       'Public Record', 'Revolving Balance', 'Revolving Utilities',
       'Total Accounts', 'Total Received Interest', 'Total Received Late Fee',
       'Recoveries', 'Collection Recovery Fee', 'Collection 12 months Medical',
       'Last week Pay', 'Total Collection Amount', 'Total Current Balance',
       'Total Revolving Credit Limit', 'Loan Status', 'Grade', 'Sub Grade',
       'Home_Ownership', 'Verification Status', 'Loan Title',
       'Initial List Status', 'Application Type'],
      dtype='object')

In [27]:
prefix + data_name

'https://drive.google.com/uc?/export=download&id=Clean_data.csv'

In [16]:
import urllib.request as request

In [30]:
from pathlib import Path
file_path = Path("../artifacts/data_ingestion/clean_data_2.csv")

In [31]:
request.urlretrieve(
                url = 'https://drive.google.com/file/d/1N-X8aij_9FtAtrDBfRHQKGE0vtIUC67i/view?usp=sharing',
                filename = file_path)

(WindowsPath('../artifacts/data_ingestion/clean_data_2.csv'),
 <http.client.HTTPMessage at 0x1be843545e0>)